.gitignore
.idea/
*/.idea
/Course.1/**/target/
/Course.1/**/project/
/Course.1/**/scalastyle/
/Course.2/**/target/
/Course.2/**/project/
/Course.2/**/scalastyle/
/Course.3/**/target/
/Course.3/**/project/
/Course.3/**/scalastyle/
/Course.4/**/target/
/Course.4/**/project/
/Course.4/**/scalastyle/
/Course.4/**/resources/
